<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liko.web.archetype.quickstart.mapper.TpPlanMapper">
  <resultMap id="BaseResultMap" type="cn.liko.web.archetype.quickstart.model.TpPlan">
    <id column="TP_PLAN_ID" jdbcType="INTEGER" property="tpPlanId" />
    <result column="TP_DAY_ID" jdbcType="INTEGER" property="tpDayId" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    TP_PLAN_ID, TP_DAY_ID, CONTENT, `STATUS`, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TP_PLAN
    where TP_PLAN_ID = #{tpPlanId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TP_PLAN
    where TP_PLAN_ID = #{tpPlanId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="TP_PLAN_ID" keyProperty="tpPlanId" parameterType="cn.liko.web.archetype.quickstart.model.TpPlan" useGeneratedKeys="true">
    insert into TP_PLAN (TP_DAY_ID, CONTENT, `STATUS`, 
      CREATE_TIME, UPDATE_TIME)
    values (#{tpDayId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="TP_PLAN_ID" keyProperty="tpPlanId" parameterType="cn.liko.web.archetype.quickstart.model.TpPlan" useGeneratedKeys="true">
    insert into TP_PLAN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tpDayId != null">
        TP_DAY_ID,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="status != null">
        `STATUS`,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tpDayId != null">
        #{tpDayId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.liko.web.archetype.quickstart.model.TpPlan">
    update TP_PLAN
    <set>
      <if test="tpDayId != null">
        TP_DAY_ID = #{tpDayId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `STATUS` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TP_PLAN_ID = #{tpPlanId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.liko.web.archetype.quickstart.model.TpPlan">
    update TP_PLAN
    set TP_DAY_ID = #{tpDayId,jdbcType=INTEGER},
      CONTENT = #{content,jdbcType=VARCHAR},
      `STATUS` = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where TP_PLAN_ID = #{tpPlanId,jdbcType=INTEGER}
  </update>
</mapper>